#map-container {
    height: 400px;
}

.comments-container {
    margin-top: 30px;
}

.row {
    display: flex;
    margin-bottom: 10px;
    .col-xs-2 {
        width: 130px;
        flex-grow: 0;
        flex-shrink: 0
    }
    .col-xs-10 {
        flex-grow: 1;
    }

}
// ul {
//     margin: 0;
// }