.app-content {
    padding: 0 30px;
    max-width: 960px;
    margin: 0 auto;
}
#editor {
    padding-left: 15px;
    padding-right: 15px;
}
.trackpoint-intro {
    margin-top: 20px;
}    
    
.laps-map {
    display: flex;
    height: 400px;
    app-laps {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column
    }
    app-map {
        flex-grow: 2;
        margin-left: 10px;
        height: 100%;
    }
}

.controls {
    margin: 10px 0;
}