.call-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    md-card {
        max-width: 280px;
        margin: 15px 30px;
        flex-shrink: 1;
        img {
            height: 220px;
            object-fit: cover;
        }
    }
}

@media (min-width: 600px) {
    .call-action {
        flex-direction: row;
    }
}