<div class="feedback">
    <h3>Let me know your experience</h3>

    <div *ngIf="!comments" class="editor">
        <p>Did the app work? If so, let me now which device you use. If not, please provide details of what you did and what
            you hoped / expected it would do.</p>

        <form (submit)="addComment(comment.value, email.value)">
            <div class="form-container">
                <div class="comment">
                    <md-input #comment placeholder="Comments, suggestions,...">Comment</md-input>
                </div>
                <div class="email">
                    <md-input #email placeholder="Email*">
                        <md-hint align="start">* Optional, not made public</md-hint>
                    </md-input>
                </div>
                <div class="button-container">
                    <button type="submit" md-raised-button color="primary">Send</button>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="comments" class="comments">
        <div class="row">
            <h4 class="date">Date</h4>
            <h4 class="comment">Comment</h4>
        </div>
        <div *ngFor="let comment of comments" class="row">
            <div class="date">{{comment.date | date:"MMM y"}}</div>
            <div class="comment">{{comment.comment}}</div>
        </div>
    </div>
</div>